{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <form action="/admin_home/" method="post"></form>
</head>
<body>
<div class="bg">
    <div class="Header"></div>
<h1>Admin Homepage</h1>
  <div class="column_left">
          <input type="submit">
  </div>
  <div class="column_center">
          <input type="submit">
  </div>
  <div class="column_right">
          <input type="submit">
</div>
</div>
</body>
</html>