{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <form action="/admin_home/" method="post"></form>
</head>
<body>
    <div class="Header"></div>
<h1>Admin Homepage</h1>

    {% if message %}
        <table class="Labs">
          <tr>
                <th>Lab</th>
                <th>Instructor</th>
                <th>Ta's</th>
          </tr>
            {% for i in message %}

            <tr>
                <td>{{i.0}}</td>
                <td>{{i.1}}</td>
                <td>{{i.2}}</td>
            </tr>

            {% endfor %}
        </table>
    {% endif %}
    <input type="button">Add TA
</body>
</html>