{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Assign TA's</title>
</head>
<body>
    <div class="bg">
        <div style="padding-top:170px;margin:0 auto;text-align: center;">
            <header style="font-size:40px;color:black">Assign TA's</header>
            <form action="/assignTAs/" method="post">
                {% csrf_token %}
                    <label for="coursechoice">Course name:</label>
                    <select id="coursechoice" name="coursechoice">
                    <option value="Select...">Select...</option>
                        {% for i in courses %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}

                    </select>
                            <p>Lab Name:<input type="text" name="lab" style="display:inline">
                </p>
                <p>
                    <label for="tachoice">TA:</label>
                    <select id="tachoice" name="tachoice">
                    <option value="Select...">Select...</option>
                        {% for i in tachoices %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}

                    </select>
                    </input>
                </p>
                <input type="submit">
            </form>
        <div class ="center">{{ message }}</div>
        <form>
            <input type="button" value="Go back" onclick="history.back()">
        </form>
        </div>

    </div>
</body>
</html>