{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="bg">
        <div style="padding-top:170px;margin:0 auto;text-align: center;">
            <header style="font-size:40px;color:black">Add a Course</header>
            <form action="/courses/" method="post">
                {% csrf_token %}
                <p>Course Name:<input type="text" name="name" style="display:inline"> Instructor:<input type="text" name="instructor" style="display:inline"></p>
                <p>TA:<input type="text" name="instructorTA" style="display:inline"></p>
                <p style="margin-bottom:0">Course Description</p>
                <p style="margin-top:0"><textarea name="description" style="width:500px;height:100px;margin-top:0px"></textarea></p>

                <input type="submit">
            </form>
            <div class ="center">{{ message }}</div>
        <a href="/admin_home/">Go Back</a>
        </div>

    </div>
</body>
</html>