{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Delete a Course</title>
</head>
<body>
    <div class="bg">
        <div style="padding-top:170px;margin:0 auto;text-align: center;">
            <header style="font-size:40px;color:black">Delete a Course</header>
            <form action="/deletecourse/" method="post">
                {% csrf_token %}
                    <label for="coursechoice">Course name:</label>
                    <select id="coursechoice" name="coursechoice">
                    <option value="Select...">Select...</option>
                        {% for i in courses %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}

                    </select>

                <input type="submit">
            </form>
          <form action='/go_back/' method="get">
            {% csrf_token %}
             <input type="submit" value="Go back">
        </form>
            <div class ="center">
        {% if messages %}
            {% for i in messages %}
            {{ i }}
            {% endfor %}
        {% endif %}
        </form>
        </div>

    </div>
</body>
</html>