{% load static %}


<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
</head>
<body>
    <div class="bg">
        <div style="padding-top:170px;margin:0 auto;text-align: center;">
            <header style="font-size:40px;color:black">Edit A Course</header>
            <form action="/editcourse/" method="post">
                {% csrf_token %}
                <p>
                    <label for="coursenamechoice">Course Name:</label>
                    <select id="coursenamechoice" name="coursenamechoice" onchange="ChangeSelectedCourse()">
                    <option value="Select...">Select...</option>
                    {% for i in courses %}
                        <option value="{{ i.name }}">{{ i.name }}</option>
                    {% endfor %}


                    </select>
                    New Course Name:<input type="text" name="name" ID="editcoursecoursenamebox" style="display:inline">

                </p>
                <p>
                <label for="instructorchoice">Instructor:</label>
                <select id="instructorchoice" name="instructorchoice">
                    <option value="Select...">Select...</option>
                    {% for i in instructors %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <label for="tachoice">TA:</label>
                <select id="tachoice" name="tachoice">
                    <option value="Select...">Select...</option>
                    {% for i in tachoices %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                </p>
                <p style="margin-bottom:0">Course Description</p>
                <p style="margin-top:0"><textarea ID="coursedescriptionbox" name="description" style="width:500px;height:100px;margin-top:0px"></textarea></p>

                <input type="submit">
            </form>
                  <form action='/go_back/' method="get">
            {% csrf_token %}
             <input type="submit" value="Go back">
        </form>
                <div class ="center">
        {% if messages %}
            {% for i in messages %}
            {{ i }}
            {% endfor %}
        {% endif %}
        </div>
        </div>
    </div>
</body>
</html>

<script>
    window.onload=function(){
        document.getElementById("editcoursecoursenamebox").value=" ";
    }
    function ChangeSelectedCourse(){
        var nametomatch = document.getElementById("coursenamechoice").value;
        var coursesstring =  '{{ jsoncourses|escapejs }}' ;//this line dosent work and I dont know how to make it work

        var courselist = JSON.parse(coursesstring);
        var instructorlist = JSON.parse('{{ jsoninstructors|escapejs }}');
        var talist = JSON.parse('{{ jsontachoices|escapejs }}');

        var chosencourseobject;
        for (i = 0; i < courselist.length; i++) {
         if(courselist[i].fields.name==nametomatch){
            chosencourseobject=courselist[i].fields;
         }
        }
        document.getElementById("editcoursecoursenamebox").value= chosencourseobject.name;
        document.getElementById("instructorchoice").value = instructorlist[chosencourseobject.instructor-1].fields.name;
        document.getElementById("tachoice").value = talist[chosencourseobject.instructorTA-1].fields.name;
        document.getElementById("coursedescriptionbox").value = chosencourseobject.description;
    }
</script>