<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Register a new account</h1>
    <form action="/register/" method="POST">
        {% csrf_token %}
        <table>
            <tr><td><label for="name"><b>Name</b></label></td></tr>
            <tr><td><input type="text" placeholder="Enter name" name="name" required></td></tr>

            <tr><td><label for="password"><b>Password</b></label></td></tr>
            <tr><td><input type="password" placeholder="Enter password" name="password" required></td></tr>

                <label for="job">Assignment:</label>
                    <select id="job" name="job">
                        <option value="Select...">Select...</option>
                        <option value="TA">TA</option>
                        <option value="Instructor">Instructor</option>
                        <option value="Admin">Admin</option>
                    </select>


        </table>
        <input type ="submit">
       <div class ="center">
        <a href="/">Go Back</a>
           </div>
    </form>

<div class ="center">{{ message }}</div>
</body>
</html>
