{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add TA</title>
</head>
<body>
    <div class="bg">
        <div style="padding-top:170px;margin:0 auto;text-align: center;">
            <header style="font-size:40px;color:black">Add a TA</header>
            <form action="/TAs/" method="post">
                {% csrf_token %}
                <p>TA Name:<input type="text" name="name" style="display:inline">
                    <label for="tachoice" style="display:inline">Instructor:</label>
                    <select id="instructorchoice" name="instructorchoice">
                    <option value="Select...">Select...</option>
                        {% for i in instructors %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}

                    </select>
                <p>Password: <input type="text" name="password" style="display:inline"> </p>
                <input type="submit">
            </form>
       <form action='/go_back/' method="get">
            {% csrf_token %}
             <input type="submit" value="Go back">
        </form>
        <div class ="center">
        {% if messages %}
            {% for i in messages %}
            {{ i }}
            {% endfor %}
        {% endif %}
        </div>
        </div>
    </div>
</body>
</html>