{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course INFO</title>
</head>
<body>
<div class="center">
<div class="bg">
    <div class="HeaderHome"></div>
{% csrf_token %}
    <br/>
<div id = "inst">
    <h1>{{ inst }}</h1>
</div>
<div id = "tadude">
    <h2>{{ tadude }}</h2>
</div>
<div id = "desc">
    <h3>{{ desc }}</h3>
</div>
<div id = "name">
    <h4>{{ name }}</h4>
</div>
        <form action='/go_back/' method="get">
            {% csrf_token %}
             <input type="submit" value="Go back">
        </form>
</div>
</div>
</body>
</html>